## flask-restx
## is a Flask extension that simplifies the creation
#of RESTful APIs. It provides tools and decorators to define API
#namespaces, routes, and models, making it easier to build and 
#document web APIs with Flask.

Flask==2.0.1
flask-restx==0.5.1
gunicorn==20.1.0
werkzeug==2.0.1